$RootPath : "file:///C:/Users/joshin85/Documents/GitHub/PortfolioSite";
$ImagePath :"../../images/";


//Colors
$MainColor:#007666;// #0061B0;
$MainDark:#005444;
$SecondaryColor: #ddd;
$LightColor:#33c9bb;
$BackgroundColor: #fff;
$TextColor: #282828;
$TextLight: #777;
$TextActive: #777;
$TextHover: #565656;

//Animation speed
$AnimationSlow : .4s;
$AnimationFast : .2s;

//layers
$layerHidden : -4;
$layerBackground : -2;
$layerBody : 6;
$layerSection : 8;
$layerOverlay : 10;

//Vars
$DividerHeight : 70;
$SideMenuWidth : 300;

//MEDIA QUERIES
$mobile-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

//Mixins
@mixin animate($speed) {
    -webkit-transition: all $speed ease-in-out;
    -moz-transition: all $speed ease-in-out;
    -o-transition: all $speed ease-in-out;
    transition: all $speed ease-in-out;
}

@mixin animation ($animation, $duration, $rate, $type) {
     -webkit-animation: $animation $duration $rate $type;
        -moz-animation: $animation $duration $rate $type;
          -o-animation: $animation $duration $rate $type;
             animation: $animation $duration $rate $type;
}

//transform Mixins
//SCSS from David McFarland - http://codepen.io/sawmac/pen/qGudy
@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}

@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

@mixin scale($scale) {
	 @include transform(scale($scale));
}

@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}

@mixin skew ($x, $y) {
   @include transform(skew(#{$x}deg #{$y}deg));
}

@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
	     -o-transform-origin: $origin;
	    -ms-transform-origin: $origin;
	-webkit-transform-origin: $origin;
          transform-origin: $origin;
}

@mixin accelerate() {

    // 3D rendering on GPU
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);

    // fix chrome and safari flicker
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility   : hidden;
    -ms-backface-visibility    : hidden;
    backface-visibility        : hidden;
    -webkit-perspective        : 1000;
    -moz-perspective           : 1000;
    -ms-perspective            : 1000;
    perspective                : 1000;

    // webkit-powered
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

@mixin unselectable {
  cursor:default;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

@mixin keyframe ($animation_name) {
    @-webkit-keyframes #{$animation_name} {
        @content;
    }

    @-moz-keyframes #{$animation_name} {
        @content;
    }

    @-o-keyframes #{$animation_name} {
        @content;
    }

    @keyframes #{$animation_name} {
        @content;
    }
}

@mixin hover{
    &:hover {
      @include animate($AnimationFast);
      background:$MainColor;
      color:$TextHover;
    }
}

@mixin shadow {
  box-shadow:3px 3px 3px RGBA(0,0,0,.2);
}
