#navmenu-side{
  position:fixed;
  top:30px;
  left:30px;
  width:21px;
  height:14px;
  z-index:$layerC;
  background: #fff;
  border-radius: 0px;
  display: inline-block;
  padding: 10px;
  cursor:pointer;
  opacity:0;

  &:hover .icon-bar{
    box-shadow:3px 3px 3px RGBA(0,0,0,.2);
  }

  &.active {
  //  @include translate(#{$SideMenuWidth  - 120}px, 0px);
    .icon-bar {
      &:first-child {
          @include rotate(-35);
      }

      &:nth-child(2) {
          margin-left: 5px;
      }

      &:last-child {
          @include rotate(35);
      }
    }
  }

  @include animate(.2s);
}

.icon-bar{
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background:$MainColor;
  margin-top:4px;

  &:hover{
    box-shadow:3px 3px 3px RGBA(0,0,0,.2);
  }
  &:first-of-type{
    margin-top:0px;
  }
  @include animate(.2s);
}

#menu-side{
    display:inline-block;
    position:fixed;
    width: #{$SideMenuWidth}px;
    left:-#{$SideMenuWidth + 1}px;
    top:0px;
    height:100%;
    background:white;
    z-index:$layerOverlay;
    &.active {
      @include translate(#{$SideMenuWidth}px, 0px);
    }

    h2 {
      margin-left:30px;
      cursor:default;

      @include unselectable;
    }


    ul{
      list-style-type:none;
      padding:0px;
    }

    li{
      cursor:default;
      font-size:20px;
      padding:15px 30px;
      cursor:pointer;
      border-right:5px solid #fff;
      &:hover {
        border-right:5px solid $MainColor;
        color:#565656;
        font-size:21px;
      }

      &.active {
        font-size:25px;
        font-weight:bold;
      }

      .fa {
        margin-right:25px;
      }

      @include unselectable;
      @include accelerate;
      @include animate(.4s);
    }



    @include accelerate;
    @include animate(.2s);
    @include shadow;
}

.close {
    position: fixed;
    right: 30px;
    top: 10px;
    font-size: 50px;
    color:#444;
    cursor:pointer;

    @include mobile {
      top:0px;
      right:25px;
    }
}

.backdrop {
  position: fixed;
  top: 0px;
  height: 100%;
  width: 100vw;
  background: black;
  opacity: 0;
  z-index: -1;
  cursor:pointer;

  &.active{
    opacity:.45;
    z-index:$layerOverlay;
  }

  @include animate(.2s);
  @include accelerate;
}
