@import "_globals";

body{
  -webkit-tap-highlight-color: rgba(201, 224, 253, 0);
  font-family: 'Roboto', sans-serif;
  color:#282828;
}

#background-fixed {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  opacity:0; 
//  background: url('#{$ImagePath}PgYKaSd.jpg') no-repeat fixed;
  background-size: cover;

  @include animate(.5s);
}

#title-bar {
  position: absolute;
  top: 50%;
  left: 0px;
  line-height: calc(100%);
  transform: translateY(-50%);
  width: 100%;
  min-height:70px;
  line-height:70px;
  padding:30px 0px;
  font-size:50px;
  text-align: center;
  color: #fff;
  background:RGBA(0,0,0,.6);
  opacity:0;

  i {
    font-size:70;
  }
  @include animate(.2s);
}

.button-group {
  display:inline-block;
  position:absolute;
  right:0px;

  @include mobile {
    position:relative;
    margin-top:15px;
  }

  a {
    position:relative;
    margin:0px 10px;
    display:inline-block;
    float:right;
    cursor:pointer;
    color:#fff;

    &:hover {
      color:#fff;
      //text-shadow:3px 3px 3px RGBA(0,0,0,.2);

      &::after {
        opacity:1;
      }
    }
    &::after {
      display: inline-block;
      position: absolute;
      left: 50%;
      top: 50%;
      width: 50px;
      height: 50px;
      z-index:$layerHidden;
      margin-left: -25px;
      margin-top: -25px;
      background: $MainColor;
      opacity:0;
      content: " ";
      @include animate(.2s);
    }

    @include animate(.2s);

  }

}

.divider-full{
  position:relative;
  background:$MainColor;
  width:100%;
  height:$DividerHeight;
}

@import "_sidemenu";
