@import "_globals";

body{
  -webkit-tap-highlight-color: rgba(201, 224, 253, 0);
  font-family: 'Roboto', sans-serif;
  color:#282828;
  margin:0px;
}

//This is not a slow selector btw
body *{
  box-sizing:border-box;
}


.float-right {
  float:right;
}

splash, section-container {
  display:block;
}

section-container {
  display:none; 
}

@import "_entry";
@import "_sidemenu";
