<section>
  <div class="section-header">
    <span class="icon"><i class="fa fa-{{section.icon}}"></i></span>
    {{section.headerText}}
  </div>
  <div class="section-body">
    <div class="section-block">{{section.bodyText}}</div>
    <div class="section-block"><img src="{{section.imageURL}}"></div>
  </div>
  <div class="section-footer">
    <a class="previous-section"><span class="icon icon-small"><i class="fa fa-{{section.icon}}"></i></span> {{section.headerText}} </a>
    <menucontainer
      [sections]="sections"
      [menuType] = "menuType"
      ></menucontainer>
  </div>
</section>
